.h1{
    color: rgb(44, 83, 128);
}
.qe{
    color: yellow;
}
.z{
    color: red;
}
.xx{
    margin-block-start: 0.5px;
    margin-block-end: 0.5px;           
}
.ul{
    margin-block-end: 0.1px;
}
.h3{
    color: cadetblue;
}
.qeq{
    color: yellow;
}
